#sphere-stage {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 200px;
	left: 100px;
	/*margin: 0px;*/
	overflow: visible;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	/*perspective-origin: 50% 100px;*/

	/*background-color: rgba(255, 0, 0, 0.3);*/
}

.sphere-reflection {
	-webkit-box-reflect: below 10px
	-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(#ffffff));
}

#sphere {
	position: absolute;
	/*margin: 0 auto;*/
	margin-top: 150px;
	margin-left: 150px;
	width: 0px;
	height: 0px;
	/*margin: 20px 0px 0px 0px;*/
	cursor: pointer;

	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#sphere div {
	/*display: block;*/
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	opacity: 0.8;
	/*background: rgba(211, 211, 211, 0.5);*/
	border: solid 5px rgba(255, 0, 78, 0.7);
	border-radius: 100%;

	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7), inset 0px 0px 15px rgba(0, 0, 0, 0.7);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	transition-timing-function: ease-out;
	transition: 1s;
}

#sphere .equator {
	transform:rotateX(90deg);
}

#sphere .latitude-1 {
	width: 150px;
	height: 150px;
	transform: translateX(25px) translateY(-35px) rotateX(90deg);
}

#sphere .latitude-2 {
	width: 186px;
	height: 186px;
	transform: translateX(7px) translateY(-25px) rotateX(90deg);
}

#sphere .latitude-3 {
	width: 186px;
	height: 186px;
	transform: translateX(7px) translateY(40px) rotateX(90deg);
}

#sphere .latitude-4 {
	width: 150px;
	height: 150px;
	transform: translateX(25px) translateY(85px) rotateX(90deg);
}

.invisible {
	display: none;
}

#sphere-control {
	position: absolute;
	width: 150px;
	top: 50px;
	left: 50px;
	z-index: 100;
	margin: 0 auto;
	padding: 5px 20px;
	-webkit-border-radius: 10px;
	background-color: rgba(255, 0, 78, 1);
}

#sphere-control * {
	text-align: left;
}

#sphere-control #sphere-control-other {
	width: 100%;
}

#sphere-control #sphere-control-other label {
	padding: 5px;
	width: 150px;
}

#sphere-control #sphere-control-other #sphere-show-reflection {
	padding: 3px;
	width: 10px;
}